@import url('https://www.rio.br.emb-japan.go.jp/Publicacoes/Culinaria.pdf');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: rgb(255, 226, 226);
}

nav {
    background-color: #da3b3b;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
}

nav .navbar-brand {
    font-size: 36px;
    text-decoration: none;
    font-family: 'Lobster', serif;
    font-weight: 800;
    color: black;
    text-align: center;
    padding: 5px;
    
}

nav ul {
    display: flex;
    list-style: none;
    padding: 20px;
    margin: 0;
    justify-content: center; 
    gap: 20px; 
}

nav ul li {
    text-align: center;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 23px; 
    font-weight: 600; 
    padding: 8px 16px;
}

#about {
    box-shadow: 0px -4px 10px rgba(27, 10, 10, 0.25);
    box-sizing: border-box;
    width: 100%;
    padding: 120px 80px;
    background: radial-gradient(circle, rgba(141, 164, 252, 1) 0%, rgba(250, 102, 132, 1) 100%);
}

.about-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    max-width: 1680px;
    margin: 0 auto;
    width: 100%;
}

.about-container img {
    max-width: 100%;
    object-fit: contain;
}

.text-container {

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.text-container p {
    margin-top: 5px;
    font-size: 25px;
}

#facts h1 {
    margin-top: 80px; 
    text-align: center;
    margin-bottom: 50px;
}

.facts-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    gap: 32px;
}

.fact-item {
    flex: 1 1 calc(50% - 16px); 
    max-width: 550px;
    overflow: hidden;
    background-color: #da3b3b;
}

.fact-item img {
    width: 1000px; 
    height: 600px;
}

.fact-item h2,
.fact-item p {
    padding: 5px; 
    text-align: center;
}

@media (max-width: 768px) {
    .facts-container {
        flex-direction: column;
        align-items: center; 
    }

    .fact-item {
        flex: 1 1 100%; 
    }
}

#icons {
    width: 100%;
    height: 350px;
    margin: 140px 0;
}

.iconTitle {
    margin-top: 60px; 
    text-align: center;
    margin-bottom: 60px;
    background-color: #C0C0C0;
    padding: 1px; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    max-width: 500px; 
    margin-left: auto;
    margin-right: auto; 
    }

.icon-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    gap: 40px;
}

.icon-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.icon-box {
    width: 280px;
    height: 200px;
    background-color: #f6cad0; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.icon-box i {
    padding-top: 20px;
    font-size: 50px;
    color: black;
    margin-top: 20px;
}

.icon-box p {
    background-color: #c0c0c0;
    font-weight: bold;
    width: 100%;
    text-align: center;
    padding: 20px 4px;
    margin: 0;
    font-size: 18px;
}

.icon-box:hover {
    transform: scale(1.05);
    transition: 0.3s ease;
}

.icon-label {
    margin-top: 15px; 
    color: black;
}

#newsletter {
    background-color: #da3b3b;
    padding: 25px;
    padding-left: 100px;
}

#newsletter h2 {
    margin-bottom: 10px;
}

.newsletter-form {
    display: flex;
    align-items: flex-end;
    gap: 15px;
    flex-wrap: wrap; 
  }

.input-group {
    display: flex;
    flex-direction: column; 
}

.input-group input {
    padding: 10px;
    font-size: 16px;
    width: 300px; 
    margin-bottom: 10px; 
    width: 300px; 
    margin-bottom: 10px; 
    color: black; 
}
.input-group input::placeholder {
    color: black;
}

section button {
    border: none;
    border-radius: 5px;
    background-color: #f6cad0;
    color: black;
    cursor: pointer;
    padding: 12px 22px; 
    font-size: 16px;
    font-weight: bold;
    align-self: flex-start; 
}

.newsletter-form button:hover {
    background-color: #555;
}


footer {
    background-color: #f0f0f0;
    padding: 35px;
    display: flex;
    justify-content: center;
}

.footer-item {
    display: flex;
    align-items: center;
    margin-right: 60px;
}

.footer-item i {
    font-size: 25px;
    margin-right: 15px;
}

.footer-item div span {
    font-weight: bold;
}
